@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&family=Text+Me+One&family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modak&family=Potta+One&family=Text+Me+One&family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumar+One&family=Modak&family=Potta+One&family=Text+Me+One&family=UnifrakturCook:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar {
    background: #1a1e24;
    color: #f1f1f5;
    overflow: hidden;
}

.logo {
    display: inline-block;
}

h3.logo {
    margin-left: 1%;
    padding: 22px;
}

small.logo {
    font-style: italic;
}

.col1 {
    background-color: #1a1e24;
}

.topnav {
    color: #f1f1f5;
    width: 90%;
    margin: auto;
}

.topnav a {
    float: left;
    color: #f1f1f5;
    text-align: center;
    padding: 22px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: black;
    color: white;
}

.topnav-right {
    float: right;
}

.topnav ul li {
    display: inline-block;
}

.banner {
    background: url(../images/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5%;
}

.ban {
    color: #f1f1f5;
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.ban-heading {
    font-size: 40px;
    padding: 8%;
    letter-spacing: 3px;
}

.ban-para {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 1px;
}

.btn {
    color: white;
    padding: 20px;
    border: none;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    font-size: 18px;
}

.bg-col1 {
    background: #8ac10c;
}

.bg-col2 {
    background: #3390d8;
}

.footer {
    background: #1a1e24;
}

.col1 {
    color: #f1f1f5;
}

.col2 {
    color: #5b5f65;
}

.footer section {
    padding: 20px
}

.footer-link {
    margin: 30px;
}

.footer-li {
    padding: 10px;
    list-style: none;
}

.font14 {
    font-size: 14px;
}

.footer-link {
    display: inline-block;
}

.pad {
    padding: 20% 0;
}

.footer-right {
    text-align: right;
    color: #f1f1f5;
}

.footer-right small {
    color: #5b5f65;
}
.footer-right .social i {
    margin: 10px;
}
.fl {
    float: left;
}

.fr {
    float: right;
}

.container,
.bottom-container {
    width: 100%;
    margin: 2.5% auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    
    border: solid lightgray 1px;
    width: 380px;
    margin: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
}

.img {
    width: 360px;
    height: 250px;
    background-size: cover;
    background-position: center;
    margin: 10px;
}

.font20 {
    font-size: 20px;
}

hr {
    color: lightgray;
    width: 85%;
    margin: auto;
}

.dp {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.contain {
    margin: 0px;
    width: 360px;
}

.gfont {
    font-family: "UnifrakturCook", cursive;
    font-size: 40px;
}

.gfont1 {
    font-family: "Potta One", cursive;
    font-weight: bolder;
    font-size: 40px;
}

.gfont2 {
    font-family: "Text Me One", sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.gfont3 {
    font-family: "Kumar One", cursive;
    font-weight: bolder;
    font-size: 40px;
}

.words {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    color: gray;
}

.featured {
    width: 80%;
    margin: auto;
}

.date {
    color: gray;
}

.col2 {
    color: dimgray;
}

.font18 {
    font-size: 18px;
}

@media screen and (max-width: 1020px) {
    .ban {
        width: 90%;
    }

    .words {
        display: block;
    }

    .featured span {
        display: block;
        margin-top: 40px;
    }
    
    .footer-right {
        text-align: center;
        color: #f1f1f5;
        float: none;
        width: 100%;
        margin: auto;
    }
    .pad {
        padding: 0;
    }
    .footer section {
        width: 80%;
        padding: 0;
        margin: auto;
    }
}

@media screen and (max-width: 660px) {
    .logo {
        display: block;
        text-align: center;
    }

    .ban {
        width: 95%;
    }

    .words {
        display: block;
    }

    .footer-right {
        text-align: center;
        color: #f1f1f5;
        float: none;
    }
    .footer section {
        width: 65%;
        padding: 0;
        margin: auto;
    }

    .topnav {
        color: #f1f1f5;
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    
    .topnav-right {
        float: none;
        width: 100%;
        margin-top: 20px;
        text-align: center;
        border-top: #5b5f65 solid 1px;
    }
    
}