body{

	background-color: rgb(255, 255, 255);
}
.heading{
	font-size: xx-large;
}

#calculator{
	/* width: 320px;
	height: 520px; */
	background-color: #eaedef;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border: 1px solid black;
	
}
#result{
	height: 120px;
}
.main{
	width: 651px;
	
}
.a{
	display: inline-flex;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
	width: 399px;
	border: 1px solid black;
}
#calc-history{
	border:  1px solid black;
	width: 244px;
}
.operator, .number, .empty , .button{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number, .operator{
	cursor: pointer;
}
